extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
<<<<<<< HEAD

=======
  //- link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
>>>>>>> 09533e9b5ae4652cdd5987ca0aa05c375d224484

  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
<<<<<<< HEAD
   body
     div(class="header-nav_container")
       span(class="header-nav_group")
       a(class="header-nav_link")
=======
  //- h1= title
  //- p Welcome to your Project Skeleton
  //- nav.navbar.navbar-expand-lg.navbar-light.bg-light
  //-   a.navbar-brand(href='#') WanderHunt
  //-   button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
  //-     span.navbar-toggler-icon
  //-   #navbarSupportedContent.collapse.navbar-collapse
  //-     form.form-inline.my-2.my-lg-0
  //-       input.form-control.mr-sm-2(type='search' placeholder='Discover your next favorite thing...' aria-label='Search')
  //-       button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
  //-     ul.navbar-nav
  //-       li.nav-item
  //-         a.nav-link(href='#') Discussions
  //-       li.nav-item
  //-         a.nav-link(href='#') Deals
  //-       li.nav-item
  //-         a.nav-link(href='#') Jobs
  //-       li.nav-item
  //-         a.nav-link(href='#') Ship
>>>>>>> 09533e9b5ae4652cdd5987ca0aa05c375d224484
