extends layout


append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")

  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content

  div.body-container
    div.body-container_topic(id="popular", name="popular") popular
    div.body-container_topic(id="recent", name="recent") recent
    div.body-container_topic(id="activity", name="activity") act
    div.body-container_topic(id="state", name="state") state
