doctype html
html
  head
      block head
        title="Wander Hunt"
        link(rel='stylesheet' href='/stylesheets/layout.css')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
        script(src="/javascripts/layout.js" type="module" defer)
  body
    div.navbar
      div.nav_content
        div.navbar_left
          img.navbar_logo(src="/images/Logo2.png", alt="" onclick="location.href= '/'")
          input.navbar_search(type="search" placeholder="Discover your next favorite thing...")
        div.navbar_right
          if locals.authenticated
            div.navbar_postBtn
              button.navbar_postBtn_post(onClick="location.href= '/post/create'") Post
            div.navbar_profileImage
              img.navbar_profileImage_pfp(src=`${locals.user.profilePhoto}`, alt="" id="navbar_profile")
          else
            div.navbar_btn
              button.navbar_btn_login(onclick="location.href= '/users/log-in'") Log In
            div.navbar_btn
              button.navbar_btn_signup(onclick="location.href= '/users/sign-up'") Sign Up
    if locals.authenticated
      div(class="dropdown hiddenDiv")
        button.dropdown_link(onclick=`location.href='/users/${locals.user.id}'`) Profile
        button.dropdown_link(onclick=`location.href='/users/${locals.user.id}/settings'`) Settings
        form(method="post" action="/users/logout")
          button(id="logoutBtn" type="submit") Logout
    block content
    block footer
      footer.footer(class="animate__animated animate__fadeInUp")
        h1 The Creators
        .creators-foot
          .user-foot(onclick=`location.href=\"https://github.com/zpreudhomme\"`)
            .user-title
              h2 Zane Preudhomme
                p Full-Stack Software Developer
                p (JavaScript, Express, CSS, Node)
            .user-img
              img(src="https://secure.gravatar.com/avatar/eba8d5a4523f594c7472a64b0b411cff?secure=true&size=300")
            .user-projects
          .user-foot(onclick=`location.href=\"https://github.com/CaroMen\"`)
            .user-title
              h2 Caroline Mendez
                p Full-Stack Software Developer
                p (JavaScript, Express, CSS, Node)
            .user-img.fooledYou
              img(src="https://avatars.githubusercontent.com/u/55109108?v=4")
            .user-projects
          .user-foot(onclick=`location.href=\"https://github.com/QCHEN0407\"`)
            .user-title
              h2 Vivian Chen
                p Full-Stack Software Developer
                p (JavaScript, Express, CSS, Node)
            .user-img
              img(src="https://s3-us-west-2.amazonaws.com/aa-progress-tracker/students/avatars/000/005/965/medium/IMG_5192.JPG?1612986109")
            .user-projects
          .user-foot(onclick=`location.href=\"https://github.com/jdaniel01\"`)
            .user-title
              h2 James Daniel Jr.
                p Full-Stack Software Developer
                p (JavaScript, Express, CSS, Node)
            .user-img
              img(src="https://secure.gravatar.com/avatar/73dda48734b6731c3d8cc4e70a2b81ff?secure=true&size=300")
            .user-projects
