doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/layout.css')
  body
    div.navbar
        div.navbar_left
          img.navbar_logo(src="/images/dummylogo.png", alt="")
          input.navbar_search(type="search")
        div.navbar_right
          div.navbar_postButton
            button Post
          div.navbar_profileImage
            img.navbar_profileImage_pfp(src="/images/dummylogo.png", alt="")
          div.navbar_logInButton
            button Log In
          div.navbar_signUpButton
            button Sign Up
    block content
