doctype html
html
  head
      block head
        title="Wander Hunt"
        link(rel='stylesheet' href='/stylesheets/layout.css')
        script(src="/javascripts/layout.js" type="module" defer)
  body
    div.navbar
      div.nav_content
        div.navbar_left
          img.navbar_logo(src="/images/Logo2.png", alt="" onclick="location.href= '/'")
          input.navbar_search(type="search" placeholder="Discover your next favorite thing...")
        div.navbar_right
          if locals.authenticated
            div.navbar_postBtn
              button.navbar_postBtn_post(onClick="location.href= '/post/create'") Post
            div.navbar_profileImage
              img.navbar_profileImage_pfp(src=`${locals.user.profilePhoto}`, alt="" id="navbar_profile")
          else
            div.navbar_btn
              button.navbar_btn_login(onclick="location.href= '/users/log-in'") Log In
            div.navbar_btn
              button.navbar_btn_signup(onclick="location.href= '/users/sign-up'") Sign Up
    if locals.authenticated
      div(class="dropdown hiddenDiv")
        button.dropdown_link(onclick=`location.href='/users/${locals.user.id}'`) Profile
        button.dropdown_link(onclick=`location.href='/users/${locals.user.id}/settings'`) Settings
        form(method="post" action="/users/logout")
          button(id="logoutBtn" type="submit") Logout
    block content
