extends layout.pug
block content
  link(rel='stylesheet' href='/stylesheets/signup-login.css')
  if errors
    div
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

  div.container
    h1 Log in

    form(action='/users/log-in' method='post')
      div
      input(type='hidden' name='_csrf' value=csrfToken)
      div
        label(for="email") Email
      input(id="email" type="email" name="email")
      div
        label(for="password") Password
      input(id="password" type="password" name="password")
      div
        button.goBackbtn(type="button" onclick="location.href= '/'") Cancel
        button.loginbtn(type="submit" onclick="'location.href= '/'") Login
      //- input(type="submit" value="log-in")

