* {
    box-sizing: border-box;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  .title {
      padding-top: 20px;
      padding-left: 40px;
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-top: 30px;
    margin-left:700px;

  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  .container {
    border-radius: 5px;
    background-color: white;
    margin-left: 300px;
    width: 60%;
    box-shadow:
        0 2px 2px rgba(0, 0, 0, 0.034),
        0 6px 5px rgba(0, 0, 0, 0.048),
        0 12px 10px rgba(0, 0, 0, 0.06),
        0 22px 17px rgba(0, 0, 0, 0.052);
  }

  .row {
      padding-left: 40px;
  }

  .col-25 {
    float: left;
    width: 30%;
    margin-top: 6px;
  }

  .col-75 {
    float: left;
    width: 96%;
    margin-top: 6px;
  }

  .button {
      margin-bottom: 20px;
      margin-left: 885px !important;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
