* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  margin-top: 30px;
  margin-left:700px;

}

input[type=submit]:hover {
  background-color: #45a049;
}

<<<<<<< HEAD
  .title {
    margin-left: 35px;
    padding-top: 20px;
  }
=======
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-left: 300px;
  /* padding-right: 20px;
  padding-left:200px;
  height: 400px; */
}
>>>>>>> bd398fba2e5cb635883a99fc964f82408ee93add

.col-25 {
  float: left;
  width: 30%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
