* {
    box-sizing: border-box;
  }
body {
  margin: 0;
}

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  .title {
    margin-left: 100px;
    padding-top: 20px;
  }

  .input {
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    height: 35px;
    width: 280px;
    padding-right: 20px;
  }

  .row {
    width: 80%;
  }

  .label {
    padding-left: 20px;
    padding-right: -50px;
  }

  .button {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 50px;

  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  .container {
    border-radius: 5px;
    /* background-color: #f5f5f5; */
    background-color: white;
    margin-left:500px;
    margin-top:100px;
    width: 40%;
    box-shadow:
    0 2px 2px rgba(0, 0, 0, 0.034),
    0 6px 5px rgba(0, 0, 0, 0.048),
    0 12px 10px rgba(0, 0, 0, 0.06),
    0 22px 17px rgba(0, 0, 0, 0.052);
  }

  .col-25 {
    float: left;
    width: 30%;
    margin-top: 10px;
    /* margin-top: 6px; */
  }

  .col-75 {
    float: right;
    width: 30%;
    margin-top: 23px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }



  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
