* {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: column;
  justify-content: center;
}
/* input[type=text], select, textarea {
  width: 92%;
  /* padding: 12px; */
  /* border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
} */

label {
  padding: 12px 12px 12px 0;
  /* display: inline-block; */
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 50px;

}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  border-radius: 5px;
  background-color: white;
  margin-top:100px;
  margin-left: 10%;
  margin-right: 10%;
  max-width: fit-content;
  min-width: 50%;
  box-shadow:
      0 2px 2px rgba(0, 0, 0, 0.034),
      0 6px 5px rgba(0, 0, 0, 0.048),
      0 12px 10px rgba(0, 0, 0, 0.06),
      0 22px 17px rgba(0, 0, 0, 0.052);

  /* padding-right: 20px;
  padding-left:200px;
  height: 400px; */
  padding: 40px;
}

.col-25 {
  box-sizing: border-box;
  /* float: left; */
  width: 40%;
  min-width: fit-content;
  min-width: 10rem;
  margin-top: 10px;
  /* margin-top: 6px; */
}

.col-75 {
  box-sizing: border-box;
  /* float: left; */
  width: 60%;
  min-width: fit-content;
  margin-top: 23px;
}

.input {
  box-sizing: border-box;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  height: 35px;
  width: 100%;
}

.label {
  box-sizing: border-box;
}

.title {
  box-sizing: border-box;
}

.button {
  margin-top: 25px;
}

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

.row{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

form {
  box-sizing: border-box;
  width: 100%;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: fit-content;
    margin-top: 0;
  }
}
